html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.text-input {
    position: absolute;
    bottom: 20px;
    width: 80%;
}

.ownMessage {
    padding: 10px;
    font-size: 16pt;
    color: aliceblue;
    background-color: dodgerblue;
    border-radius: 25px;
}

.message {
    padding 10px;
    font-size: 16pt;
    color: black;
    background-color: darkgrey;
    border-radius: 25px;
}

.notification-connected {
    padding 10px;
    font-size: 12pt;
    color: aliceblue;
    background-color: lightgreen;
    border-radius: 25px;
}

#messageBox {

}